body{
    background-color:#f5f5dc;
    color:#191970;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
head{
    background-color:plum;
}

h3{
    color: maroon;
}